# This file contains the credentials for the voice & chat platforms
# which your bot is using.
# https://rasa.com/docs/rasa/user-guide/messaging-and-voice-channels/

rest:
#  # you don't need to provide anything here - this channel doesn't
#  # require any credentials

facebook:
  verify: "xxx"
  secret: "xxx"
  page-access-token: "xxx"

telegram:
  access_token: "xxx"
  verify: "xxx"
  webhook_url: "https://bd03627e.ngrok.io/webhooks/telegram/webhook"

slack:
  slack_token: "xxx"
  slack_retry_reason_header: "x-slack-retry-reason"
  slack_retry_number_header: "x-slack-retry-num"
  errors_ignore_retry: ["http_timeout"]
  #slack_channel: "xoxb-742611162535-742960393926-XuZqIqZe9GO2gNFncmMMpiZn"

#socketio:
#  user_message_evt: <event name for user message>
#  bot_message_evt: <event name for but messages>
#  session_persistence: <true/false>

rasa:
  url: "http://localhost:5002/api"
